<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	
  	<typeAliases>
  		<typeAlias type="com.example.demo.dto.MemberDto" alias="memberDto"/>
  	</typeAliases>
  	
  	<mappers>
  		<mapper resource="/mybatis.mapper.MemberMapper.xml"/>
  	</mappers>
  	
  </configuration>
