<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ChallengeMapper">
   <!-- 신호준 -->
   <select id="getDetail" resultType="Testchallenge" >
   		select *
   		from MAKECHALLENGE
   		where CHALLENGENO = #{CHALLENGENO} 
   </select>
   

   
  <!-- 조아라 -->
   
   <!-- 메인 - 인기 챌린지 -->
  <select id="challenge_hot" resultType="Testchallenge">
	SELECT * FROM MAKECHALLENGE
	ORDER BY MEMBERNO DESC;
  </select>
  
  
	<!-- 메인 - 신규 챌린지 -->
   <select id="challenge_new" resultType="Testchallenge">
	SELECT * FROM MAKECHALLENGE
	ORDER BY CHALLENGENO DESC;
	</select>
  
  
 	 <!-- 디테일 - 온라인/오프라인 챌린지 -->
    <select id="challenge_onofflist" resultType="Testchallenge" parameterType="String">
	SELECT * FROM MAKECHALLENGE
	WHERE ONOFFCHOICE= #{ONOFFCHOICE}
	ORDER BY CHALLENGENO DESC;
	</select>

  
    <!-- 디테일 - 카테고리 챌린지 -->
    <select id="challenge_categorylist" resultType="Testchallenge" parameterType="String">
	SELECT * FROM MAKECHALLENGE
	WHERE CATEGORY= #{category}
	ORDER BY CHALLENGENO DESC;
 	</select>
  
  
    <!-- 검색 기능 -->
    <select id="getSearchList" resultType="Testchallenge" parameterType="String">
    SELECT * 
	FROM MAKECHALLENGE
	where CHALLENGETITLE like CONCAT('%', '#{keyword}', '%')
	or ONOFFCHOICE like CONCAT('%', '#{keyword}', '%')
	or CATEGORY like CONCAT('%', '#{keyword}', '%')
	or OFFLINEADDRESS like CONCAT('%', '#{keyword}', '%')
	or OFFLINEADDRESSDETAIL like CONCAT('%', '#{keyword}', '%')
	ORDER BY CHALLENGENO DESC;
  	</select>
  

   <!-- 이재혁 -->
   <insert id="offlineinsert" parameterType="makingChallengeDto">
			INSERT INTO MAKECHALLENGE VALUES(
			NULL,
			 #{challengetitle},
			  'offline' ,
			  #{offlineaddress},
			  #{offlineaddressdetail},
			  #{offlinestarttime},
			   #{challengefrequency},
			    #{challengestartdate},
			     #{challengeenddate} ,
			     #{challengeperiod},
			     #{certificationstarttime},
			      #{certificationendtime},
			       #{successimgpath},
			       #{successimgname},
			       #{failimgpath},
			       #{failimgname},
			       #{certificationway},
			       #{challengeintro},
			       #{deposit},
			       #{maxchallenger},
			       #{category},
			       #{thumbnailpath},
			       #{thumbnailname},
			       NULL)
		</insert>
		 <insert id="onlineinsert" parameterType="makingChallengeDto">
			INSERT INTO MAKECHALLENGE VALUES(NULL, #{challengetitle}, 'online' ,NULL,NULL,NULL, #{challengefrequency}, #{challengestartdate}, #{challengeenddate} ,#{challengeperiod},#{certificationstarttime}, #{certificationendtime}, #{successimgpath},#{successimgname},#{failimgpath},#{failimgname},#{certificationway},#{challengeintro},#{deposit},#{maxchallenger},#{category},#{thumbnailpath},#{thumbnailname})
		</insert>
		
</mapper>
<!-- <insert id="exampleinsert" parameterType="UploadDto">
			INSERT INTO EXAMPLE VALUES(#{hi},#{filename1},#{filepath1}, #{filename2},#{filepath2})
		</insert> -->
<!-- 
private int challengeno;
	
	private String challengetitle; 			//챌린지 제목
	private String onoffchoice;				//온오프 여부
	private String offlineaddress;			//오프라인시 주소
	private String offlineaddressdetail;	//오프라인시 상세 주소
	private String offlinestarttime;		//오프라인시 시작 시간
	private String chllengeprequency;		//인증빈도
	private String challengestartdate;		//챌린지 시작일
	private String challengeenddate;		//챌린지 마감일
	private String challengeperiod;			// 챌린지 기간
	private String certificationstarttime;	// 인증 가능 시간
	private String certificationendtime;	// 인증 종료 시간
	private String successimgpath;			// 인증성공예시 경로
	private String successimgname;			// 인증성공예시 이름
	private String failimgpath;				// 인증실패예시 경로
	private String failimgname;				// 인증실패예시 이름
	private String certificationway;		// 인증 방법
	private String challengeintro;			// 챌린지 소개
	private int deposit;					// 예치금 설정
	private int maxchallenger;				// 최대 모집 인원 지정
	private String category;				// 카테고리
	private String thumbnailpath;			// 대표사진 경로
	private String thumbnailname;			// 대표사진 이름
	
 -->

