<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ChallengeMapper">
   <!-- 신호준 -->
   <select id="getDetail" resultType="makingChallengeDto" >
   		select *
   		from MAKECHALLENGE
   		where CHALLENGENO = #{CHALLENGENO} 
   </select>
   

   
  <!-- 조아라 -->
   
   <!-- 메인 - 인기 챌린지 -->
  
  <select id="challenge_hot" resultType="Testchallenge">
	SELECT * FROM MAKECHALLENGE
	ORDER BY MAXCHALLENGER  DESC;
  </select>

  
  
	<!-- 메인 - 신규 챌린지 -->
   <select id="challenge_new" resultType="Testchallenge">
	SELECT * FROM MAKECHALLENGE
	ORDER BY CHALLENGENO DESC;
	</select>
  
  
 	 <!-- 디테일 - 온라인/오프라인 챌린지 -->
    <select id="challenge_onofflist" resultType="Testchallenge" parameterType="String">
	SELECT * FROM MAKECHALLENGE
	WHERE ONOFFCHOICE= #{ONOFFCHOICE}
	ORDER BY CHALLENGENO DESC;
	</select>

  
    <!-- 디테일 - 카테고리 챌린지 -->
    <select id="challenge_categorylist" resultType="Testchallenge" parameterType="String">
	SELECT * FROM MAKECHALLENGE
	WHERE CATEGORY= #{category}
	ORDER BY CHALLENGENO DESC;
 	</select>
  
  
    <!-- 검색 기능 -->
	<select id="challenge_search" resultType="Testchallenge" parameterType="String">
	SELECT * 
	FROM MAKECHALLENGE
	where CHALLENGETITLE like  CONCAT('%', #{keyword}, '%')
	or ONOFFCHOICE like  CONCAT('%', #{keyword}, '%')
	or CATEGORY like  CONCAT('%', #{keyword}, '%')
	or OFFLINEADDRESS like  CONCAT('%', #{keyword}, '%')
	or OFFLINEADDRESSDETAIL like  CONCAT('%', #{keyword}, '%')
	ORDER BY CHALLENGENO DESC;
  	</select>
  

   <!-- 이재혁 -->
   <insert id="offlineinsert" parameterType="makingChallengeDto">
			INSERT INTO MAKECHALLENGE VALUES(
			NULL,
			 #{challengetitle},
			  '오프라인' ,
			  #{offlineaddress},
			  #{offlineaddressdetail},
			  #{offlinestarttime},
			   #{challengefrequency},
			    #{challengestartdate},
			     #{challengeenddate} ,
			     #{challengeperiod},
			     #{certificationstarttime},
			      #{certificationendtime},
			       #{successimgpath},
			       #{successimgname},
			       #{failimgpath},
			       #{failimgname},
			       #{certificationway},
			       #{challengeintro},
			       #{deposit},
			       #{maxchallenger},
			       #{category},
			       #{thumbnailpath},
			       #{thumbnailname},
			       #{memberid})
		</insert>
	 <insert id="onlineinsert" parameterType="makingChallengeDto">
			INSERT INTO MAKECHALLENGE VALUES(
			NULL,
			 #{challengetitle},
			  '온라인' ,
			  NULL,
			  NULL,
			  NULL,
			   #{challengefrequency},
			    #{challengestartdate},
			     #{challengeenddate} ,
			     #{challengeperiod},
			     #{certificationstarttime},
			      #{certificationendtime},
			       #{successimgpath},
			       #{successimgname},
			       #{failimgpath},
			       #{failimgname},
			       #{certificationway},
			       #{challengeintro},
			       #{deposit},
			       #{maxchallenger},
			       #{category},
			       #{thumbnailpath},
			       #{thumbnailname},
			       #{memberid})
		</insert>
</mapper>

