<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CommentMapper">
   <!-- 신호준 -->
   <select id="commentCount" resultType="int">
        SELECT
            COUNT(*)
        FROM COMMENT
    </select>
    
    <select id="commentList" resultType="CommentDto">
        SELECT
    		  CNO, CONTENT, MEMBERID, REG_DATE
    	 FROM COMMENT
    	WHERE CHALLENGENO = #{challengeno}
    </select>
    
    
    <insert id="commentInsert">
       INSERT INTO COMMENT(
	CHALLENGENO
	, CNO
	, CONTENT
	, MEMBERID
	, REG_DATE
)
VALUES( #{bno}
	, #{cno}
	, #{content}
	, #{memberid}
	, #{reg_date} ) 
    </insert>
    
    <update id="commentUpdate" parameterType="CommentDto">
        UPDATE COMMENT
            SET
            CONTENT = #{content}
        WHERE CNO = #{cno}
    </update>
    
    <delete id="commentDelete" parameterType="int">
        DELETE FROM COMMENT WHERE CNO = #{cno}
    </delete>
</mapper>