<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MainDetail">


	<!-- 메인 - 인기 챌린지 -->
  <select id="challenge_hot" resultType="MainDetailDto">
	SELECT * FROM MainDetail
	ORDER BY MEMBERNO DESC;
  </select>
  
  
	<!-- 메인 - 신규 챌린지 -->
   <select id="challenge_new" resultType="MainDetailDto">
	SELECT * FROM MainDetail
	ORDER BY CHALLENGENO DESC;
	</select>
  
  <!-- 디테일 - 온라인/오프라인 챌린지 -->
    <select id="challenge_onofflist" resultType="MainDetailDto" parameterType="String">
	SELECT * FROM MainDetail
	WHERE ONOFFCHOICE= #{ONOFFCHOICE}
	ORDER BY CHALLENGENO DESC;
  </select>
  
  
    <!-- 디테일 - 카테고리 챌린지 -->
    <select id="challenge_categorylist" resultType="MainDetailDto" parameterType="String">
	SELECT * FROM MainDetail
	WHERE CATEGORY= #{category}
	ORDER BY CHALLENGENO DESC;
  </select>
  

</mapper>