<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypoint">
   
   <resultMap type="pointDto" id="pointMap">
		<result property="pointno" column="POINTNO"/>
		<result property="memberid" column="MEMBERID"/>
		<result property="bankname" column="BANKNAME"/>
		<result property="accountnumber" column="ACCOUNTNUMBER"/>
		<result property="accountholder" column="ACCOUNTHOLDER"/>	
		<result property="withdrawpoint" column="WITHDRAWPOINT"/>	
		<result property="status" column="STATUS"/>	
		<result property="pointdate" column="POINTDATE"/>	
		<result property="mypoint" column="MYPOINT"/>			
	</resultMap>

	
	<resultMap type="moneyDto" id="moneyMap">
		<result property="memberid" column="MEMBERID"/>
		<result property="mydeposit" column="MYDEPOSIT"/>
		<result property="mypoint" column="MYPOINT"/>
		<result property="membernick" column="MEMBERNICK"/>
		<result property="memberemail" column="MEMBEREMAIL"/>
		<result property="membername" column="MEMBERNAME"/>
		<result property="memberphone" column="MEMBERPHONE"/>
		<result property="memberrole" column="MEMBERROLE"/>
	</resultMap>
	

   <select id="selectList" resultMap="pointMap">
   		SELECT * FROM POINTINFO;
   </select>
   
   <update id="updatestatus" parameterType="pointDto">
		UPDATE POINTINFO
		SET STATUS=#{status}
		WHERE POINTNO=#{pointno}  
	</update>

	<insert id="insertMyinfo" parameterType="moneyDto">
		INSERT INTO MYMONEY (MYMONEY.MEMBERID)
		SELECT B.MEMBERID FROM MYMONEY
		RIGHT JOIN MEMBER B ON MYMONEY.MEMBERID =B.MEMBERID 
		WHERE MYMONEY.MEMBERID IS NULL AND B.MEMBERID="SS";		
	</insert>
	
   <select id="selectMyinfo" resultMap="moneyMap">
 		 SELECT * FROM MEMBER INNER JOIN MYMONEY ON MEMBER.MEMBERID =MYMONEY.MEMBERID 
 		 WHERE MEMBER.MEMBERID = "SS"; 
	</select>
	
	<update id="update" parameterType="moneyDto">
		UPDATE MEMBER
		SET MEMBERNICK=#{membernick},MEMBEREMAIL=#{memberemail},MEMBERPHONE=#{memberphone}
		WHERE MEMBERID=#{memberid}  
	</update>	
	

	<insert id="insert" parameterType="pointDto">
		INSERT INTO POINTINFO
		VALUES( NULL, #{memberid}, #{bankname}, #{accountnumber},#{accountholder},#{withdrawpoint},"1", NOW())		
	</insert>
	
	<update id="updatepoint" parameterType="pointDto">
		UPDATE MYMONEY
		SET MYPOINT=(#{mypoint}-#{withdrawpoint})
		WHERE MEMBERID=#{memberid} 
	</update>

</mapper>