/* ------------------------------ Responsive Media Styles ---------------------------- */

@media only screen and (min-width: 1200px) and (max-width: 1920px) {
	.inner-header .r .input-group button {
		right: -14px;
	}
	.product-item .pi-pic ul li a {
		padding: 16px 12px 12px 11px;
	}
	.nav-item .nav-menu li a {
		padding: 16px 60px 15px;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}


h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Muli", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 18px;
}




input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}


/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 40px;
	text-align: center;
}

.section-title h2 {
	color: #252525;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 38px;
	position: relative;
}

.section-title h2:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	width: 80px;
	height: 3px;
	background: #000000;
	content: "";
	margin: 0 auto;
}

.section-title p {
	color: #6e6e6e;
}


/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #e7ab3c;
	text-transform: uppercase;
}

.site-btn {
	color: #ffffff;
	background: #e7ab3c;
	border: 1px solid #e7ab3c;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 11px 30px 11px;
	cursor: pointer;
}


/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}


/*---------------------
  Header
-----------------------*/

.header-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #e5e5e5;
}

.header-top .ht-left {
	float: left;
}

.header-top .ht-right {
	float: right;
}


.header-top .ht-right .login-panel {
	font-size: 14px;
	color: #646464;
	display: inline-block;
	padding-left: 20px;
	border-left: 1px solid #e5e5e5;
	padding-top: 18px;
	padding-bottom: 10px;
}

.inner-header {
	padding: 20px 0;
}


.inner-header .logo {
	float: left;
	padding: 12px 0;
	position: realative;
	max-width: 30%;
}


.inner-header .logo a {
	display: inline-block;
}


.inner-header .advanced-search {
	height: 40px;

}

.inner-header .advanced-search .input-group {
	max-width: 100%;
	height: 90%;
}

.inner-header .advanced-search .input-group input {
	display: inline-block;
	position: absolute;
	left: 630px;
	top: 75px;
	border: none;
	font-size: 14px;
	color: #636363;
	padding-left: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #646464;
}

.inner-header .advanced-search .input-group button {
	display: inline-block;
	position: absolute;
	left: 800px;
	top: 65px;
	font-size: 16px;
	color: #636363;
	border: 1px solid #ffffff;
	background: #ffffff;
	padding: 6px 6px 6px;
	cursor: pointer;
}

.inner-header .nav-right {
	padding: 10px 0;
}

.inner-header .nav-right li {
	list-style: none;
	display: inline-block;
	font-size: 20px;
	margin-left: 15px;
}


.nav-item {
	background: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav-item .nav-depart {
	float: left;
}


.nav-item .nav-depart .depart-btn {
	background: #252525;
	color: #ffffff;
	padding: 14px 84px 14px 18px;
	cursor: pointer;
	position: relative;
}

.nav-item .nav-depart .depart-btn:hover .depart-hover {
	top: 52px;
	opacity: 1;
	visibility: visible;
	z-index: 99;
}


.nav-item .nav-depart .depart-btn:before {
	position: absolute;
	color: #ffffff;
	right: 20px;
	top: 13px;
	content: "占쎄섈";
	font-family: FontAwesome;
	font-size: 18px;
}


.nav-item .nav-depart .depart-btn i {
	color: #ffffff;
	font-size: 16px;
}

.nav-item .nav-depart .depart-btn span {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 16px;
}

.nav-item .nav-depart .depart-btn .depart-hover {
	position: absolute;
	width: 100%;
	background: #fff;
	left: 0;
	top: 62px;
	opacity: 0;
	visibility: hidden;
	padding-bottom: 29px;
	-webkit-box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	box-shadow: 0 13px 32px rgba(51, 51, 51, 0.1);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-depart .depart-btn .depart-hover li {
	list-style: none;
}

.nav-item .nav-depart .depart-btn .depart-hover li.active a {
	color: #6200ff;
}

.nav-item .nav-depart .depart-btn .depart-hover li a {
	display: block;
	font-size: 16px;
	color: #000000;
	padding-left: 40px;
	padding-top: 16px;
	padding-right: 30px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-depart .depart-btn .depart-hover li a:hover {
	color: #e7ab3c;
}

.nav-item .nav-menu {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
}

.nav-item .nav-menu li {
	list-style: none;
	display: inline-block;
	margin-left: -5px;
	position: relative;
}

.nav-item .nav-menu li.active a {
	background: #d4b9ff;
	font-weight: 500;
}

.nav-item .nav-menu li a {
	font-size: 14px;
	font-weight: 600;
	display: block;
	color: #646464;
	border-right: 10px solid #ffffff;
	text-transform: uppercase;
	padding: 16px 60px 15px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-menu li:hover>a {
	background: #d4b9ff;
}

.nav-item .nav-menu li:hover .dropdown {
	opacity: 1;
	visibility: visible;
	top: 52px;
}

.nav-item .nav-menu li .dropdown {
	position: absolute;
	top: 82px;
	text-align: center;
	width: 180px;
	z-index: 99;
	background: #ffffff;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


.nav-item .nav-menu li .dropdown li {
	display: block;
	margin-left: 0;
}

.nav-item .nav-menu li .dropdown li:hover>a {
	background: #e5d6ff;
	color: #7c36ff;
}

.nav-item .nav-menu li .dropdown li a {
	border-right: 0;
	padding: 13px 20px 12px 30px;
	text-transform: capitalize;
}

.slicknav_menu {
	display: none;
}

.hr {
	padding-top: -5px;
	padding-bottom: 20px;
}

/*---------------------
  Hero Section
-----------------------*/

.hero-items .single-hero-items {
	height: 725px;
	padding-top: 100px;
	max-width: 100%;
	object-fit: cover;
}


.hero-items .owl-nav button[type=button] {
	font-size: 50px;
	font-weight: bold;	
	position: absolute;
	left: 40px;
	top: 650px;
	color: #252525;
}

.hero-items .owl-nav button[type=button].owl-prev {
	font-size: 30px;
	font-weight: bold;	
}


.hero-items .owl-nav button[type=button]:hover {
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	padding: 100px;
	border-radius: 10px 10px 10px 10px;
	background-color: rgba(133, 133, 133,0.5);
}

.hero-items .owl-nav button[type=button].owl-next {
	font-size: 30px;
	font-weight: bold;	
	left: auto;
	right: 40px;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}



/*---------------------
카테고리 Section
-----------------------*/
.category-icon {
	display: flex;
    justify-content: center;
}

.banner-section {
	padding-top: 100px;
	padding-bottom: 50px;
}

.single-banner {
	position: relative;
}

.single-banner:hover::before {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.single-banner::before {
	z-index: -1;
	position: absolute;
	left: 35px;
	top: 30px;
	padding: 100px #d4b9ff;
	border-radius: 20px;
	background: #d4b9ff;
	content: "";
	opacity: 0.7;
	width: calc(100% - 60px);
	height: calc(100% - 30px);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.single-banner img {
	margin: auto;
    display: block;
	width: 40%;
}

.single-banner .inner-text {
	position: bottom;
	display: flex;
    justify-content: center;
	height: 100%;
	padding-top: 20px;

}

.single-banner .inner-text h5 {
	color: #252525;
	font-weight: 700;
    align-items: center;
}


/*---------------------
  챌린지 리스트 Section
-----------------------*/

.challenge-list {
	padding-top: 100px;
	padding-left: 380px;
	padding-bottom: 100px;

}

.list-container ul {
	list-style:none;
}

.list {
	padding-bottom: 10px;
}

.list h3 {
	font-weight: 700;
}

.list-container .list-plus {
	position: absolute;
	right: 10px;
	padding-right: 380px;
}

.list-container .control {
	font-size: 40px;
	position: absolute;
	display: block;
	right: 10px;
	padding-right: 380px;
}

.list-container .control .prev {
	padding-right: 15px;
}

.list-container .control .next {
	padding-left: 15px;
}

.list-container .content-list {
	padding-top: 65px;
	display: inline-block;
	padding-right: 50px;
}

.content-pic {
	width: 200px;
	height: 200px;
}


.content-name {
	padding-top: 15px;
}

.content-name h6 {
	line-height: 120%;
}




/*---------------------
  Banner Section
-----------------------*/

.women-banner {
	padding-top: 100px;
	padding-bottom: 80px;
}


.product-slider .owl-nav button[type=button] {
	font-size: 30px;
	position: absolute;
	left: -62px;
	top: 25%;
	color: #171717;
	opacity: 0.3;
}

.product-slider .owl-nav button[type=button].owl-next {
	left: auto;
	right: -62px;
	color: #171717;
	opacity: 1;
}

.product-slider .owl-dots {
	text-align: center;
	margin-top: 27px;
}

.product-slider .owl-dots button {
	width: 6px;
	height: 6px;
	background: #D8D9DA;
	border-radius: 50%;
	margin-right: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.product-slider .owl-dots button:last-child {
	margin-right: 0;
}

.product-slider .owl-dots button.active {
	width: 30px;
	background: #252525;
	border-radius: 50px;
}

.product-item {
	margin-bottom: 26px;
}

.product-item:hover .pi-pic .icon {
	top: 15px;
	opacity: 1;
}

.product-item:hover .pi-pic ul {
	bottom: 0;
}

.product-item .pi-pic {
	overflow: hidden;
	position: relative;
}

.product-item .pi-pic img {
	min-width: 100%;
}

.product-item .pi-pic .sale {
	color: #ffffff;
	font-size: 10px;
	background: #76BC42;
	position: absolute;
	left: 0;
	top: 20px;
	padding: 5px 10px;
	text-transform: uppercase;
}

.product-item .pi-pic .sale.pp-sale {
	background: #e7ab3c;
}

.product-item .pi-pic .icon {
	font-size: 20px;
	color: #252525;
	position: absolute;
	right: 21px;
	top: -15px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}

.product-item .pi-pic ul {
	position: absolute;
	left: 0;
	bottom: -52px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	width: 100%;
}

.product-item .pi-pic ul li {
	list-style: none;
	display: inline-block;
	background: #ffffff;
}

.product-item .pi-pic ul li.w-icon.active a {
	background: #e7ab3c;
	color: #ffffff;
}

.product-item .pi-pic ul li a {
	font-size: 16px;
	font-weight: 700;
	color: #252525;
	display: block;
	padding: 16px 18px 12px 19px;
}

.product-item .pi-text {
	text-align: center;
	padding-top: 26px;
}

.product-item .pi-text .catagory-name {
	font-size: 10px;
	color: #b2b2b2;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.product-item .pi-text a {
	display: block;
}

.product-item .pi-text a h5 {
	color: #252525;
}

.product-item .pi-text .product-price {
	color: #e7ab3c;
	font-size: 20px;
	font-weight: 700;
}

.product-item .pi-text .product-price span {
	font-size: 14px;
	font-weight: 400;
	color: #b2b2b2;
	text-decoration: line-through;
}




/*---------------------
  Footer
-----------------------*/

.footer-section {
	padding-top: 75px;
}

